<div class="side-bar-header">
  <div class="header-content">
   <div class="header-name">
     <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
   <div class="create-room">
      <%= link_to "チャットを作成する", new_room_path %>
    </div>
  </div>
  <div class="group-name">
    <a href="#"><span class="decoration">[</span> suzuki Family <span class="decoration">]</span></a>
  </div>
</div>

<div class="side-content">
  <div class="lists">
    <span class="side-title">おつかいリスト</span>
    <div class="list">
      <div class="list-name">
        <span class="decoration">・</span><a href="#">食料品</a>
      </div>
    </div>

    <div class="list">
      <div class="list-name">
        <span class="decoration">・</span><a href="#">日用品</a>
      </div>
    </div>
  </div>

  <div class="rooms">
    <span class="side-title">チャットルーム</span>
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          <span class="decoration">・</span><%= link_to room.name, room_messages_path(room) %></a>
       </div>
      </div>
    <% end %>
  </div>
</div>