.wrapper {
  display: flex;
}

.side-bar {
  background-color: lightseagreen;
  width: 350px;
  height: 100vh;
}

.decoration {
  color: #336633;
  padding: 0 5px;
}

.side-bar-header {
  height: 50px;
  padding: 0 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;
}

.header-name a {
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.group-name a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.side-content {
  background-color: #339999;
  height: calc(100vh - 120px);
  padding: 10px 20px;
  overflow: scroll;
}

.side-title {
  font-size: 20px;
  color: #99FFCC;
}

.groups,
.lists,
.rooms {
  margin: 10px 0;
}

.group-bar,
.list-bar,
.room-bar {
  display: flex;
  justify-content: space-between;
}

.create-group a,
.create-list a,
.create-room a {
  font-size: 12px;
  border: 1px solid #336633;
  padding: 7px;
  color: white;
  text-decoration: none;
}

.group,
.list,
.room {
  margin: 5px 0;
}

.group-name a,
.list-name a,
.room-name a {
  color: white;
  text-decoration: none;
}

.group-name {
  display: flex;
}

.group-more {
  display: flex;
  justify-content: space-between;
}

.group-tag {
  margin-left: 10px;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 120px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.right-header {
  display: flex;;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin: 40px 10px 0;
}

.header-button a {
  text-decoration: none;
  border: 1px solid #336633;
  color: #336633;
  padding: 20px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 120px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message {
  display: flex;
}

.message-user {
  color: #434A54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434A54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: teal;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightseagreen;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}